// 公共变量
$bgcolor:#dbdbe2;
$table-bgcolor:#f1f1f7;//左边
$headcolor:#fff;
$head-bg-color: #3956b2; //头部背景
$titlecolor:#000;
$btn-active-color:#5a9af4; //按钮高亮
$btn-default-color:#fdfdfd;
$bth-border-color:#e7e7e7; //按钮边框颜色

$scrollbar-track-color: #fff;  //滚动条轨道颜色
$scrollbar-thumb-color:#e4e7ee;//滚动条里面小方块颜色

//表格
$table-default-color:#fff;   //表格默认颜色
$table-hover-color:#E8EEFC;  //表格悬停颜色
$table-active-color:#FFEFA3; //表格选中颜色
$table-cell-active:#4477EE;  //表格可下钻列，颜色
$talbe-head-color:#f5f7fa;   //表头颜色
$talbe-border-color:#6a6a6d;//表格分割线
